body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading-container{
    text-align: center;
    margin-top:20px;
    color: blue;
    background: linear-gradient(to right,rgb(0, 255, 132),rgb(190, 67, 244));
}

.icon{
    width: 300px;
    height: 100px;
    border-radius: 50%;
}


.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    padding:20px;
    margin: 0 auto;
    background: linear-gradient(to right,rgb(252, 89, 181),rgb(111, 111, 248));
}

.container{
    background-color: yellow;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
    gap:10px;
}